In [177]:
def get_spark_env(job_name, g, n):
    from pyspark.sql import SparkSession
    return SparkSession.builder.master("local[*]").config('spark.executor.memoryOverhead.config', n).config('spark.driver.memory', g).appName(job_name).getOrCreate()

def Print_DF_Rows(DF,NbRows):
    import pandas as pd
    return pd.DataFrame(DF.take(NbRows),columns=DF.columns)

job_name = 'Formation'
spark = get_spark_env(job_name, '4g', '3')
print (spark.version)

df = spark.read.csv("Dataset_9_cost.csv", inferSchema = 'true', header=True, sep="|")
df

3.1.1

DataFrame[_c0: int, Unnamed: 0: int, Unnamed: 0.1: int, Unnamed: 0.1.1: int, Unnamed: 0.1.1.1: int, Unnamed: 0.1.1.1.1: string, Unnamed: 0.1.1.1.1.1: string, Unnamed: 0.1.1.1.1.1.1: string, Unnamed: 0.1.1.1.1.1.1.1: string, age: string, sex: string, bmi: string, children: int, smoker: string, region: string, charges: double]

# clean collumns

In [178]:
df.columns
def keepData(dataframe, columns):
    notIn = list(set(dataframe.columns)-set(columns))
    return dataframe.drop(*notIn)
df = keepData(df, ["age", "sex", "bmi", "children", "smoker", "region", "charges"])
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- bmi: string (nullable = true)
 |-- children: integer (nullable = true)
 |-- smoker: string (nullable = true)
 |-- region: string (nullable = true)
 |-- charges: double (nullable = true)

In [179]:
df.show(20,False)

+--------------------+--------------------+------+--------+-----------+---------+------------------+
|age                 |sex                 |bmi   |children|smoker     |region   |charges           |
+--------------------+--------------------+------+--------+-----------+---------+------------------+
|Allez au boulot ! :)|female              |None  |0       |yes        |southwest|16884.924         |
|18                  |male                |33.77 |1       |no         |southeast|1725.5523         |
|28                  |male                |33.0  |3       |no         |southeast|4449.462          |
|33                  |male                |22.705|0       |no         |northwest|21984.47061       |
|32                  |male                |28.88 |0       |no         |northwest|3866.8552         |
|31                  |female              |25.74 |0       |None       |null     |3756.6216         |
|46                  |female              |33.44 |1       |no         |southeast|8240.5896         |
|37                  |female              |27.74 |3       |no         |None     |7281.5056         |
|37                  |male                |29.83 |2       |ù*ùfsfsf///|northeast|6406.4107         |
|60                  |Allez au boulot ! :)|25.84 |0       |no         |northwest|28923.136919999997|
|25                  |male                |26.22 |0       |no         |northeast|2721.3208         |
|62                  |female              |None  |0       |yes        |southeast|27808.7251        |
|23                  |male                |34.4  |0       |no         |null     |1826.8429999999998|
|56                  |courage!!!          |39.82 |0       |no         |southeast|11090.7178        |
|27                  |male                |42.13 |0       |yes        |southeast|39611.7577        |
|0                   |male                |24.6  |1       |no         |southwest|1837.237          |
|Allez au boulot ! :)|female              |30.78 |1       |no         |northeast|10797.3362        |
|23                  |male                |23.845|0       |no         |northeast|2395.17155        |
|Allez au boulot ! :)|male                |40.3  |0       |no         |null     |10602.385         |
|30                  |Allez au boulot ! :)|35.3  |0       |yes        |southwest|36837.467000000004|
+--------------------+--------------------+------+--------+-----------+---------+------------------+
only showing top 20 rows

# recherches des valeurs bizarre

In [180]:
def weirdDecialValue(dataframe, column, ranges):
    from pyspark.sql import functions as F
    
    weird = dataframe.filter((F.col(column).cast("double") < ranges["min"]) | (F.col(column).cast("double").isNull()) | (F.col(column).cast("double") > ranges["max"]))
    return weird

def notInListValue(dataframe, column, acceptedValue):
    return dataframe.filter(~dataframe[column].isin(acceptedValue))

import math
# mapping des columns avec les valeurs min est max
numberMapping = {"age": {"min": 0, "max": 120}, "children": {"min": 0, "max": 20}, "bmi": {"min": 0, "max": math.inf}, "charges": {"min": 0, "max": math.inf}}

for key in numberMapping:
    display(numberMapping[key])
    weird = weirdDecialValue(df, key, numberMapping[key])
    display(f"il y a {weird.count()} données qui on des valeurs décimales bizarres")
    weird.show()

# trouver toutes les données uniques
for column in ["sex", "smoker", "region"]:
    display(f'{column} valeurs uniques {df.select(column).distinct().collect()}')


stringMapping = {"sex": ["male","female"], "smoker": ["yes","no"],"region": ["northwest","southeast","southwest","northeast"]}
for key in stringMapping:
    display(key)
    notInListValue(df,key, stringMapping[key]).show()

{'min': 0, 'max': 120}

'il y a 139 données qui on des valeurs décimales bizarres'

+--------------------+--------------------+--------------------+--------+------+---------+------------------+
|                 age|                 sex|                 bmi|children|smoker|   region|           charges|
+--------------------+--------------------+--------------------+--------+------+---------+------------------+
|Allez au boulot ! :)|              female|                None|       0|   yes|southwest|         16884.924|
|Allez au boulot ! :)|              female|               30.78|       1|    no|northeast|        10797.3362|
|Allez au boulot ! :)|                male|                40.3|       0|    no|     null|         10602.385|
|         ù*ùfsfsf///|              female|              32.965|       3|    no|northwest|       15612.19335|
|         ù*ùfsfsf///|                null|               36.67|       1|   yes|northeast|        39774.2763|
|         55555555555|              female|                30.8|       2|    no|southeast|          6313.759|
|Allez au boulot ! :)|                male|         ù*ùfsfsf///|       2|   yes|     None|        34303.1672|
|Allez au boulot ! :)|              female|              38.285|       0|    no|northeast|        7935.29115|
|         ù*ùfsfsf///|               hello|Allez au boulot ! :)|       3|    no|southwest|          12105.32|
|          courage!!!|              female|                28.4|       1|    no|southwest|          2331.519|
|         ù*ùfsfsf///|                male|               27.94|       0|    no|southeast|         2867.1196|
|Allez au boulot ! :)|                male|               35.09|       0|   yes|southeast|        47055.5321|
|         55555555555|                male|               49.06|       0|    no|southeast|        11381.3254|
|Allez au boulot ! :)|              female|               23.37|       2|    no|northwest|         6686.4313|
|Allez au boulot ! :)|              female|                37.4|       0|    no|southwest|          9634.538|
|         ù*ùfsfsf///|              female|         ù*ùfsfsf///|       0|    no|southwest|          2166.732|
|Allez au boulot ! :)|Allez au boulot ! :)|               28.69|       3|   yes|northwest|        20745.9891|
|          courage!!!|                male|               35.53|       0|  None|southeast|        36950.2567|
|Allez au boulot ! :)|              female|                26.6|       0|   yes|northwest|21348.706000000002|
|Allez au boulot ! :)|Allez au boulot ! :)|                39.6|       1|    no|southwest|         10450.552|
+--------------------+--------------------+--------------------+--------+------+---------+------------------+
only showing top 20 rows

{'min': 0, 'max': 20}

'il y a 15 données qui on des valeurs décimales bizarres'

+---+------+------+--------+------+---------+-----------------+
|age|   sex|   bmi|children|smoker|   region|          charges|
+---+------+------+--------+------+---------+-----------------+
| 60|  male|28.595|    -400|    no|northeast|30259.99556000001|
| 46|  male|  22.3|    -400|    no|southwest|         7147.105|
| 19|  male|  34.8|    -400|   yes|southwest|        34779.615|
| 64|female|  33.8|    -400|   yes|southwest|         47928.03|
| 57|female| 23.18|    -400|    no|    hello|       11830.6072|
| 64|  male| 39.16|    -400|    no|southeast|       14418.2804|
| 18| hello| 37.29|    -400|    no|southeast|        2219.4451|
| 56|  male| 33.66|    -400|    no|southeast|       12949.1554|
| 18|  male| 23.21|    -400|  None|    hello|        1121.8739|
| 49|  male|  30.9|    -400|   yes|southwest|             null|
| 48|  male| 37.29|    -400|    no|southeast|        8978.1851|
| 50|female| 26.22|    -400|    no|northwest|       10493.9458|
| 43|female| 25.27|    -400|   yes|northeast|       21771.3423|
| 36|female|  25.9|    -400|  None|southwest|5472.449000000001|
| 31| hello|25.935|    -400|    no|northwest|       4239.89265|
+---+------+------+--------+------+---------+-----------------+

{'min': 0, 'max': inf}

'il y a 170 données qui on des valeurs décimales bizarres'

+--------------------+------+--------------------+--------+------+---------+------------------+
|                 age|   sex|                 bmi|children|smoker|   region|           charges|
+--------------------+------+--------------------+--------+------+---------+------------------+
|Allez au boulot ! :)|female|                None|       0|   yes|southwest|         16884.924|
|                  62|female|                None|       0|   yes|southeast|        27808.7251|
|                  30|female|         ù*ùfsfsf///|       1|    no|southwest|          4149.736|
|                  22|  male|         ù*ùfsfsf///|       0|   yes|southwest|         35585.576|
|                  24|female|                None|       0|    no|northeast|          3046.062|
|                  36|  male|                None|       0|   yes|southeast|        37742.5757|
|Allez au boulot ! :)|  male|         ù*ùfsfsf///|       2|   yes|     None|        34303.1672|
|                   0|female|                None|       1|  None|southeast|        23244.7902|
|                  34|female|Allez au boulot ! :)|       2|    no|northwest|        5989.52365|
|                  27|female|         ù*ùfsfsf///|       0|   yes|southeast|        16577.7795|
|                  21|  male|         ù*ùfsfsf///|       0|    no|southeast|         1532.4697|
|                  35|  male|         ù*ùfsfsf///|       2|    no|northwest|         5729.0053|
|         ù*ùfsfsf///| hello|Allez au boulot ! :)|       3|    no|southwest|          12105.32|
|                  30|  male|Allez au boulot ! :)|       0|    no|northeast|         3645.0894|
|                  61|female|Allez au boulot ! :)|       3|   yes|southeast|        30942.1918|
|                  32|female|                None|       2|   yes|northwest|        32734.1863|
|                  59|female|         ù*ùfsfsf///|       0|    no|northeast|       12815.44495|
|                  54|female|         ù*ùfsfsf///|       3|    no|southeast|27322.733860000004|
|         ù*ùfsfsf///|female|         ù*ùfsfsf///|       0|    no|southwest|          2166.732|
|                   0|  male|                null|       0|    no|southeast|          7789.635|
+--------------------+------+--------------------+--------+------+---------+------------------+
only showing top 20 rows

{'min': 0, 'max': inf}

'il y a 50 données qui on des valeurs décimales bizarres'

+--------------------+--------------------+------+--------+------+---------+-------+
|                 age|                 sex|   bmi|children|smoker|   region|charges|
+--------------------+--------------------+------+--------+------+---------+-------+
|                  40|              female| 36.19|       0|  None|southeast|   null|
|                  34|                male| 22.42|       2|    no|northeast|   null|
|                  41|              female|33.155|       3|    no|northeast|   null|
|                  39|              female|  32.8|       0|    no|southwest|   null|
|                  31|                male| 38.39|       2|    no|    hello|   null|
|         55555555555|                male|  30.5|       1|    no|southwest|   null|
|          courage!!!|              female|  32.3|       3|    no|northeast|   null|
|                  24|                male| 40.15|       0|   yes|southeast|   null|
|                  26|              female|  None|       0|    no|     null|   null|
|                  18|Allez au boulot ! :)| 38.17|       0|    no|southeast|   null|
|                  31|                male|  20.4|       0|    no|southwest|   null|
|                  45|              female|  33.1|       0|    no|southwest|   null|
|                  39|                male|  28.3|       1|   yes|southwest|   null|
|                  54|              female| 47.41|       0|   yes|southeast|   null|
|Allez au boulot ! :)|                male|40.565|       2|   yes|     null|   null|
|                  58|              female| 27.17|       0|    no|northwest|   null|
|                  18|              female|33.155|       0|    no|northeast|   null|
|                  24|                male|  29.3|       0|    no|southwest|   null|
|                  29|              female| 35.53|       0|    no|southeast|   null|
|                  45|              female|  36.3|       2|    no|southeast|   null|
+--------------------+--------------------+------+--------+------+---------+-------+
only showing top 20 rows

"sex valeurs uniques [Row(sex=None), Row(sex='hello'), Row(sex='female'), Row(sex='courage!!!'), Row(sex='male'), Row(sex='Allez au boulot ! :)')]"

"smoker valeurs uniques [Row(smoker='None'), Row(smoker='no'), Row(smoker='yes'), Row(smoker='ù*ùfsfsf///')]"

"region valeurs uniques [Row(region='northwest'), Row(region='None'), Row(region='southeast'), Row(region='northeast'), Row(region=None), Row(region='hello'), Row(region='southwest')]"

'sex'

+--------------------+--------------------+--------------------+--------+------+---------+------------------+
|                 age|                 sex|                 bmi|children|smoker|   region|           charges|
+--------------------+--------------------+--------------------+--------+------+---------+------------------+
|                  60|Allez au boulot ! :)|               25.84|       0|    no|northwest|28923.136919999997|
|                  56|          courage!!!|               39.82|       0|    no|southeast|        11090.7178|
|                  30|Allez au boulot ! :)|                35.3|       0|   yes|southwest|36837.467000000004|
|                  18|               hello|                34.1|       0|  None|southeast|          1137.011|
|                  59|Allez au boulot ! :)|               27.72|       3|    no|southeast|        14001.1338|
|                  26|               hello|                20.8|       0|  None|southwest|            2302.3|
|                  38|Allez au boulot ! :)|               37.05|       1|    no|northeast|         6079.6715|
|                  36|               hello|                35.2|       1|   yes|southeast|         38709.176|
|                  53|               hello|                28.1|       3|    no|southwest|         11741.726|
|                  45|Allez au boulot ! :)|              22.895|       2|   yes|northwest|       21098.55405|
|         ù*ùfsfsf///|               hello|Allez au boulot ! :)|       3|    no|southwest|          12105.32|
|                  18|               hello|              30.115|       0|    no|    hello|        21344.8467|
|                  54|               hello|               33.63|       1|    no|northwest|        10825.2537|
|                  47|               hello|              33.915|       3|    no|northwest|       10115.00885|
|                  53|               hello|                35.9|       2|    no|    hello|11163.568000000001|
|Allez au boulot ! :)|Allez au boulot ! :)|               28.69|       3|   yes|northwest|        20745.9891|
|                  51|               hello|               37.73|       1|    no|southeast|         9877.6077|
|Allez au boulot ! :)|Allez au boulot ! :)|                39.6|       1|    no|southwest|         10450.552|
|                  32|               hello|                29.8|       2|    no|southwest|          5152.134|
|                  32|               hello|              33.155|       3|    no|northwest|        6128.79745|
+--------------------+--------------------+--------------------+--------+------+---------+------------------+
only showing top 20 rows

'smoker'

+----------+----------+--------------------+--------+-----------+---------+------------------+
|       age|       sex|                 bmi|children|     smoker|   region|           charges|
+----------+----------+--------------------+--------+-----------+---------+------------------+
|        31|    female|               25.74|       0|       None|     null|         3756.6216|
|        37|      male|               29.83|       2|ù*ùfsfsf///|northeast|         6406.4107|
|        18|     hello|                34.1|       0|       None|southeast|          1137.011|
|        26|     hello|                20.8|       0|       None|southwest|            2302.3|
|        60|    female|               24.53|       0|       None|southeast|        12629.8967|
|         0|    female|                None|       1|       None|southeast|        23244.7902|
|        40|    female|               36.19|       0|       None|southeast|              null|
|        31|      male|                28.5|       5|       None|northeast| 6799.458000000001|
|        37|      male|                30.8|       0|       None|    hello|          4646.759|
|        18|      male|               23.75|       0|       None|northeast|         1705.6245|
|courage!!!|      male|               35.53|       0|       None|southeast|        36950.2567|
|        41|    female|                32.2|       1|       None|southwest|6775.9609999999975|
|        25|      male|               25.74|       0|       None|southeast|         2137.6536|
|        40|courage!!!|               41.23|       1|       None|northeast|         6610.1097|
|        41|    female|                37.1|       2|       None|southwest|          7371.772|
|        41|    female|         ù*ùfsfsf///|       1|ù*ùfsfsf///|northeast|        7358.17565|
|        19|    female|Allez au boulot ! :)|       0|       None|southwest|          1727.785|
|        63|    female|                32.2|       2|       None|southwest|         47305.305|
|        19|    female|                24.7|       0|ù*ùfsfsf///|southwest|          1737.376|
|        27|    female|                31.4|       0|       None|southwest|         34838.873|
+----------+----------+--------------------+--------+-----------+---------+------------------+
only showing top 20 rows

'region'

+--------------------+------+-----------+--------+------+------+------------------+
|                 age|   sex|        bmi|children|smoker|region|           charges|
+--------------------+------+-----------+--------+------+------+------------------+
|                  37|female|      27.74|       3|    no|  None|         7281.5056|
|                  40|female|      28.69|       3|    no| hello|         8059.6791|
|Allez au boulot ! :)|  male|ù*ùfsfsf///|       2|   yes|  None|        34303.1672|
|                  22|female|     39.805|       0|    no| hello|        2755.02095|
|                  22|  male|      37.62|       1|   yes| hello|        37165.1638|
|                  18| hello|     30.115|       0|    no| hello|        21344.8467|
|                  20|  male|     28.025|       1|   yes| hello|       17560.37975|
|                  37|  male|       30.8|       0|  None| hello|          4646.759|
|                  21|female|      35.72|       0|    no|  None|         2404.7338|
|                  19|female|       28.3|       0|   yes| hello|          17081.08|
|                  53| hello|       35.9|       2|    no| hello|11163.568000000001|
|                  60|female|     24.035|       0|    no|  None|       13012.20865|
|                  31|  male|      38.39|       2|    no| hello|              null|
|                  40|  male|       19.8|       1|   yes|  None|         17179.522|
|                  60|female|      27.55|       0|    no| hello|        13217.0945|
|                  19|  male|     27.835|       0|    no| hello|        1635.73365|
|                  57|female|      23.18|    -400|    no| hello|        11830.6072|
|                  61|female|      21.09|       0|    no|  None|        13415.0381|
|                  49|  male|      31.35|       1|    no| hello|         9290.1395|
|                  25|  male|       23.9|       5|    no| hello|          5080.096|
+--------------------+------+-----------+--------+------+------+------------------+
only showing top 20 rows

# clean data

In [181]:
def replaceBadValue(dataframe, column, badValue, replace):
    from pyspark.sql.functions import when
    
    return dataframe.withColumn(column, when(dataframe[column].isin(badValue) | dataframe[column].isNull(), replace).otherwise(dataframe[column]))

def replaceWithMean(dataframe, column, ranges):
    from pyspark.sql.functions import mean, col, when, lit
    
    df = dataframe.withColumn(column, col(column).cast("double"))
    df = df.withColumn(column, when((col(column) < ranges["min"]) | (col(column) > ranges["max"]), None).otherwise(col(column)))
    mean = df.agg(mean(col(column))).collect()[0][0]
    df = df.withColumn(column, when(col(column).isNull(), mean).otherwise(col(column)))
    return df

# pour les chiffre numerique
modify=df
for key in numberMapping:
    modify = replaceWithMean(modify, key, numberMapping[key])
    
# pour les données
for key in stringMapping:
    notInList = notInListValue(modify, key, stringMapping[key])
    badValue = [row[0] for row in notInList.select(key).distinct().collect()]
    modify = replaceBadValue(modify, key, badValue, None)

modify.show()
modify.printSchema()

+-----------------+------+-----------------+--------+------+---------+------------------+
|              age|   sex|              bmi|children|smoker|   region|           charges|
+-----------------+------+-----------------+--------+------+---------+------------------+
|38.96413678065054|female|30.65886130136987|     0.0|   yes|southwest|         16884.924|
|             18.0|  male|            33.77|     1.0|    no|southeast|         1725.5523|
|             28.0|  male|             33.0|     3.0|    no|southeast|          4449.462|
|             33.0|  male|           22.705|     0.0|    no|northwest|       21984.47061|
|             32.0|  male|            28.88|     0.0|    no|northwest|         3866.8552|
|             31.0|female|            25.74|     0.0|  null|     null|         3756.6216|
|             46.0|female|            33.44|     1.0|    no|southeast|         8240.5896|
|             37.0|female|            27.74|     3.0|    no|     null|         7281.5056|
|             37.0|  male|            29.83|     2.0|  null|northeast|         6406.4107|
|             60.0|  null|            25.84|     0.0|    no|northwest|28923.136919999997|
|             25.0|  male|            26.22|     0.0|    no|northeast|         2721.3208|
|             62.0|female|30.65886130136987|     0.0|   yes|southeast|        27808.7251|
|             23.0|  male|             34.4|     0.0|    no|     null|1826.8429999999998|
|             56.0|  null|            39.82|     0.0|    no|southeast|        11090.7178|
|             27.0|  male|            42.13|     0.0|   yes|southeast|        39611.7577|
|              0.0|  male|             24.6|     1.0|    no|southwest|          1837.237|
|38.96413678065054|female|            30.78|     1.0|    no|northeast|        10797.3362|
|             23.0|  male|           23.845|     0.0|    no|northeast|        2395.17155|
|38.96413678065054|  male|             40.3|     0.0|    no|     null|         10602.385|
|             30.0|  null|             35.3|     0.0|   yes|southwest|36837.467000000004|
+-----------------+------+-----------------+--------+------+---------+------------------+
only showing top 20 rows

root
 |-- age: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- bmi: double (nullable = true)
 |-- children: double (nullable = true)
 |-- smoker: string (nullable = true)
 |-- region: string (nullable = true)
 |-- charges: double (nullable = true)

# transformation des données

In [182]:
def elementToInt(dataframe, column):
    i=1
    replace = {}
    elements = [row[0] for row in dataframe.select(column).distinct().collect()]
    for elem in elements:
        if type(elem) == float and math.isnan(elem):
            continue
        replace[elem] = i
        i+=1
    return replace

def replaceWithMap(dataframe, column, mapping):
    from pyspark.sql.functions import col, lit, create_map, when
    from itertools import chain
    
    # none cant be map
    noneMapping = mapping[None]
    del mapping[None]
    
    mapping_expr = create_map([lit(x) for x in chain(*mapping.items())])
    dataframe = dataframe.withColumn(column, mapping_expr[col(column)])
    # none cant be map
    dataframe = dataframe.withColumn(column, when(col(column).isNull(), noneMapping).otherwise(col(column)))
    return dataframe

columns = ["sex", "region", "smoker"]
modify2 = modify
mapping = {}
for column in columns:
    mapping[column] = elementToInt(modify2, column)
    modify2 = replaceWithMap(modify2, column, mapping[column])
display(mapping)
modify2.show()
modify2.printSchema()

{'sex': {'female': 2, 'male': 3},
 'region': {'northwest': 1, 'southeast': 2, 'northeast': 3, 'southwest': 5},
 'smoker': {'no': 2, 'yes': 3}}

+-----------------+---+-----------------+--------+------+------+------------------+
|              age|sex|              bmi|children|smoker|region|           charges|
+-----------------+---+-----------------+--------+------+------+------------------+
|38.96413678065054|  2|30.65886130136987|     0.0|     3|     5|         16884.924|
|             18.0|  3|            33.77|     1.0|     2|     2|         1725.5523|
|             28.0|  3|             33.0|     3.0|     2|     2|          4449.462|
|             33.0|  3|           22.705|     0.0|     2|     1|       21984.47061|
|             32.0|  3|            28.88|     0.0|     2|     1|         3866.8552|
|             31.0|  2|            25.74|     0.0|     1|     4|         3756.6216|
|             46.0|  2|            33.44|     1.0|     2|     2|         8240.5896|
|             37.0|  2|            27.74|     3.0|     2|     4|         7281.5056|
|             37.0|  3|            29.83|     2.0|     1|     3|         6406.4107|
|             60.0|  1|            25.84|     0.0|     2|     1|28923.136919999997|
|             25.0|  3|            26.22|     0.0|     2|     3|         2721.3208|
|             62.0|  2|30.65886130136987|     0.0|     3|     2|        27808.7251|
|             23.0|  3|             34.4|     0.0|     2|     4|1826.8429999999998|
|             56.0|  1|            39.82|     0.0|     2|     2|        11090.7178|
|             27.0|  3|            42.13|     0.0|     3|     2|        39611.7577|
|              0.0|  3|             24.6|     1.0|     2|     5|          1837.237|
|38.96413678065054|  2|            30.78|     1.0|     2|     3|        10797.3362|
|             23.0|  3|           23.845|     0.0|     2|     3|        2395.17155|
|38.96413678065054|  3|             40.3|     0.0|     2|     4|         10602.385|
|             30.0|  1|             35.3|     0.0|     3|     5|36837.467000000004|
+-----------------+---+-----------------+--------+------+------+------------------+
only showing top 20 rows

root
 |-- age: double (nullable = true)
 |-- sex: integer (nullable = true)
 |-- bmi: double (nullable = true)
 |-- children: double (nullable = true)
 |-- smoker: integer (nullable = true)
 |-- region: integer (nullable = true)
 |-- charges: double (nullable = true)